VITE_SUPABASE_URL=https://ymwqhugknzrojvhscbkj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inltd3FodWdrbnpyb2p2aHNjYmtqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTE2NjgxMjMsImV4cCI6MjEwNzI0NDEyM30.unetHtP3s4e_4ldermAPb9bsAnqCGjWScGGKpqV9OKw
VITE_REVENUECAT_APPLE_API_KEY=
VITE_REVENUECAT_GOOGLE_API_KEY=
